--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.payment_status AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.payment_status OWNER TO postgres;

--
-- Name: subscription_duration; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.subscription_duration AS ENUM (
    '1_month',
    '2_months',
    '3_months',
    '6_months',
    '9_months'
);


ALTER TYPE public.subscription_duration OWNER TO postgres;

--
-- Name: add_credits_after_payment(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_after_payment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- Only add credits for completed payments

    IF NEW.status = 'completed' THEN

        UPDATE profiles

        SET credits = COALESCE(credits, 0) + NEW.duration

        WHERE id = NEW.user_id;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.add_credits_after_payment() OWNER TO postgres;

--
-- Name: add_credits_after_payment(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_after_payment(user_id uuid, credits_to_add integer) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET credits = credits + credits_to_add WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.add_credits_after_payment(user_id uuid, credits_to_add integer) OWNER TO postgres;

--
-- Name: add_credits_for_subscription(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_for_subscription(p_user_id uuid, p_months integer) RETURNS TABLE(success boolean, message text, credits_added integer)
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

    v_voucher_code TEXT;

    v_voucher_id UUID;

BEGIN

    -- Get user's voucher code

    SELECT voucher_code INTO v_voucher_code

    FROM profiles

    WHERE id = p_user_id;

    

    IF v_voucher_code IS NULL OR v_voucher_code = '' THEN

        RETURN QUERY SELECT false, 'User has no voucher code', 0;

        RETURN;

    END IF;

    

    -- Get voucher ID

    SELECT id INTO v_voucher_id

    FROM vouchers 

    WHERE UPPER(code) = UPPER(v_voucher_code);

    

    IF v_voucher_id IS NULL THEN

        RETURN QUERY SELECT false, 'Voucher not found', 0;

        RETURN;

    END IF;

    

    -- Add credits to voucher

    UPDATE vouchers 

    SET 

        credits = credits + p_months,

        updated_at = NOW()

    WHERE id = v_voucher_id;

    

    -- Create/update voucher usage record

    INSERT INTO voucher_usages (

        user_id,

        voucher_id,

        months_paid,

        payment_amount,

        subscription_start_date,

        subscription_end_date

    ) VALUES (

        p_user_id,

        v_voucher_id,

        p_months,

        0,

        NOW(),

        NOW() + (p_months || ' months')::INTERVAL

    )

    ON CONFLICT (user_id, voucher_id) 

    DO UPDATE SET

        months_paid = voucher_usages.months_paid + EXCLUDED.months_paid,

        updated_at = NOW();

    

    RETURN QUERY SELECT true, 'Added ' || p_months || ' credits to voucher ' || v_voucher_code, p_months;

END;

$$;


ALTER FUNCTION public.add_credits_for_subscription(p_user_id uuid, p_months integer) OWNER TO postgres;

--
-- Name: add_credits_on_payment(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_on_payment() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
BEGIN
    -- Your existing function logic here
END;
$$;


ALTER FUNCTION public.add_credits_on_payment() OWNER TO postgres;

--
-- Name: add_credits_on_payment(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_on_payment(user_id uuid, credits_to_add integer) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles

    SET credits = credits + credits_to_add

    WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.add_credits_on_payment(user_id uuid, credits_to_add integer) OWNER TO postgres;

--
-- Name: add_credits_on_subscription(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_on_subscription() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

    v_voucher_id UUID;

    v_months INTEGER;

BEGIN

    -- Only process if user has a voucher code

    IF NEW.voucher_code IS NOT NULL AND NEW.voucher_code != '' THEN

        

        -- Get voucher ID

        SELECT id INTO v_voucher_id

        FROM vouchers 

        WHERE UPPER(code) = UPPER(NEW.voucher_code);

        

        IF v_voucher_id IS NOT NULL THEN

            -- Calculate months from subscription_end_date - subscription_start_date

            IF NEW.subscription_end_date IS NOT NULL AND NEW.subscription_start_date IS NOT NULL THEN

                -- Calculate months difference

                v_months := EXTRACT(EPOCH FROM (NEW.subscription_end_date - NEW.subscription_start_date)) / (30.44 * 24 * 3600);

                v_months := ROUND(v_months)::INTEGER;

            ELSIF NEW.subscription_end_date IS NOT NULL THEN

                -- If no start date, calculate from now

                v_months := EXTRACT(EPOCH FROM (NEW.subscription_end_date - NOW())) / (30.44 * 24 * 3600);

                v_months := ROUND(v_months)::INTEGER;

            ELSE

                v_months := 0;

            END IF;

            

            -- Add credits to voucher (only if months > 0)

            IF v_months > 0 THEN

                UPDATE vouchers 

                SET 

                    credits = credits + v_months,

                    updated_at = NOW()

                WHERE id = v_voucher_id;

                

                -- Also create/update voucher_usages record

                INSERT INTO voucher_usages (

                    user_id,

                    voucher_id,

                    months_paid,

                    payment_amount,

                    subscription_start_date,

                    subscription_end_date

                ) VALUES (

                    NEW.id,

                    v_voucher_id,

                    v_months,

                    0, -- Default to 0 for payment amount

                    COALESCE(NEW.subscription_start_date, NOW()),

                    NEW.subscription_end_date

                )

                ON CONFLICT (user_id, voucher_id) 

                DO UPDATE SET

                    months_paid = EXCLUDED.months_paid,

                    subscription_end_date = EXCLUDED.subscription_end_date,

                    updated_at = NOW();

            END IF;

        END IF;

    END IF;

    

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.add_credits_on_subscription() OWNER TO postgres;

--
-- Name: add_credits_on_subscription(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_on_subscription(user_id uuid, credits_to_add integer) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET credits = credits + credits_to_add WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.add_credits_on_subscription(user_id uuid, credits_to_add integer) OWNER TO postgres;

--
-- Name: add_credits_to_profile(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_to_profile() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$
BEGIN
    -- Explicitly set a minimal, secure search path
    SET search_path TO pg_catalog, public;
    
    -- Your function logic goes here
    
    -- Optional: Reset search path after function execution
    RESET search_path;
END;
$$;


ALTER FUNCTION public.add_credits_to_profile() OWNER TO postgres;

--
-- Name: add_credits_to_profile(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_credits_to_profile(user_id uuid, credits_to_add integer) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$
BEGIN
    -- Explicitly set a minimal, secure search path
    SET search_path TO pg_catalog, public;
    
    UPDATE public.profiles 
    SET credits = COALESCE(credits, 0) + credits_to_add
    WHERE id = user_id;
END;
$$;


ALTER FUNCTION public.add_credits_to_profile(user_id uuid, credits_to_add integer) OWNER TO postgres;

--
-- Name: admin_remove_user_subscription(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.admin_remove_user_subscription(user_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET subscription_expires_at = NULL WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.admin_remove_user_subscription(user_id uuid) OWNER TO postgres;

--
-- Name: admin_toggle_admin_status(uuid, boolean); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.admin_toggle_admin_status(user_id uuid, make_admin boolean) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET is_admin = make_admin WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.admin_toggle_admin_status(user_id uuid, make_admin boolean) OWNER TO postgres;

--
-- Name: admin_update_user_subscription(uuid, integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.admin_update_user_subscription(target_user_id uuid, months integer) RETURNS boolean
    LANGUAGE sql SECURITY DEFINER
    AS $$

  UPDATE profiles 

  SET 

    subscription_end_date = NOW() + (months || ' months')::INTERVAL,

    subscription_months = months,

    updated_at = NOW()

  WHERE id = target_user_id

  AND EXISTS (

    SELECT 1 FROM profiles admin_p 

    WHERE admin_p.id = auth.uid() 

    AND COALESCE(admin_p.is_admin, false) = true

  )

  RETURNING true;

$$;


ALTER FUNCTION public.admin_update_user_subscription(target_user_id uuid, months integer) OWNER TO postgres;

--
-- Name: admin_update_user_subscription(uuid, timestamp without time zone); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET subscription_expires_at = new_expiry WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone) OWNER TO postgres;

--
-- Name: apply_voucher_to_subscription(uuid, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.apply_voucher_to_subscription(user_id uuid, voucher_code text) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    UPDATE profiles SET voucher_code = apply_voucher_to_subscription.voucher_code WHERE id = user_id;

END;

$$;


ALTER FUNCTION public.apply_voucher_to_subscription(user_id uuid, voucher_code text) OWNER TO postgres;

--
-- Name: apply_voucher_to_subscription(uuid, text, integer, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric DEFAULT NULL::numeric) RETURNS TABLE(success boolean, message text, credits_added integer, bonus_days_granted integer)
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

DECLARE

    v_voucher_id UUID;

    v_voucher_active BOOLEAN;

    v_existing_usage_id UUID;

    v_credits_to_add INTEGER;

    v_bonus_days INTEGER := 3; -- 3 bonus days per voucher usage

BEGIN

    -- Initialize return values

    credits_added := 0;

    bonus_days_granted := 0;

    

    -- Validate inputs

    IF p_user_id IS NULL OR p_voucher_code IS NULL OR p_months_paid <= 0 THEN

        success := false;

        message := 'Invalid input parameters';

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Get voucher details

    SELECT id, is_active INTO v_voucher_id, v_voucher_active

    FROM vouchers 

    WHERE UPPER(code) = UPPER(p_voucher_code);

    

    -- Check if voucher exists

    IF v_voucher_id IS NULL THEN

        success := false;

        message := 'Voucher code not found';

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Check if voucher is active

    IF NOT v_voucher_active THEN

        success := false;

        message := 'Voucher code is inactive';

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Check if user has already used this voucher

    SELECT id INTO v_existing_usage_id

    FROM voucher_usages 

    WHERE user_id = p_user_id AND voucher_id = v_voucher_id;

    

    IF v_existing_usage_id IS NOT NULL THEN

        success := false;

        message := 'Voucher has already been used by this user';

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Calculate credits to ADD (1 credit per month subscribed)

    v_credits_to_add := p_months_paid;

    

    -- Start transaction

    BEGIN

        -- Record voucher usage

        INSERT INTO voucher_usages (

            user_id,

            voucher_id,

            months_paid,

            payment_amount,

            subscription_start_date,

            subscription_end_date

        ) VALUES (

            p_user_id,

            v_voucher_id,

            p_months_paid,

            COALESCE(p_payment_amount, 0),

            NOW(),

            NOW() + (p_months_paid || ' months')::INTERVAL

        );

        

        -- ADD credits to voucher (correct logic: user's months = credits added to voucher)

        UPDATE vouchers 

        SET 

            credits = credits + v_credits_to_add,

            updated_at = NOW()

        WHERE id = v_voucher_id;

        

        -- Update user profile with subscription and bonus days

        UPDATE profiles 

        SET 

            voucher_code = p_voucher_code,

            bonus_days = COALESCE(bonus_days, 0) + v_bonus_days,

            subscription_end_date = CASE 

                WHEN subscription_end_date IS NULL THEN 

                    NOW() + (p_months_paid || ' months')::INTERVAL + (v_bonus_days || ' days')::INTERVAL

                ELSE 

                    subscription_end_date + (v_bonus_days || ' days')::INTERVAL

            END,

            updated_at = NOW()

        WHERE id = p_user_id;

        

        -- Set return values

        success := true;

        message := 'Voucher applied successfully. Added ' || v_credits_to_add || ' credits to voucher, granted ' || p_months_paid || ' months + ' || v_bonus_days || ' bonus days';

        credits_added := v_credits_to_add;

        bonus_days_granted := v_bonus_days;

        

    EXCEPTION WHEN OTHERS THEN

        -- Rollback will happen automatically

        success := false;

        message := 'Error applying voucher: ' || SQLERRM;

        

    END;

    

    RETURN NEXT;

END;

$$;


ALTER FUNCTION public.apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric) OWNER TO postgres;

--
-- Name: create_new_profile(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_new_profile() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$
DECLARE
    existing_profile UUID;
BEGIN
    -- Explicitly set a minimal, secure search path
    SET search_path TO pg_catalog, public;
    
    -- Check if a profile already exists
    SELECT id INTO existing_profile 
    FROM public.profiles 
    WHERE id = NEW.id;
    
    -- Only insert if no existing profile
    IF existing_profile IS NULL THEN
        BEGIN
            INSERT INTO public.profiles (
                id, 
                email, 
                full_name, 
                credits, 
                is_admin
            ) VALUES (
                NEW.id, 
                NEW.email, 
                NULL,  -- You can modify this if you want to extract full name
                0,     -- Default credits
                false  -- Default admin status
            );
        EXCEPTION 
            WHEN OTHERS THEN
                -- Log the error or handle it as needed
                RAISE NOTICE 'Error creating profile for user %: %', NEW.id, SQLERRM;
                RETURN NULL;
        END;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_new_profile() OWNER TO postgres;

--
-- Name: create_voucher(text, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_voucher(p_code text, p_label text DEFAULT NULL::text) RETURNS TABLE(success boolean, message text, voucher_id uuid)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

    v_new_voucher_id UUID;

    v_existing_voucher_id UUID;

BEGIN

    -- Validate input

    IF p_code IS NULL OR length(trim(p_code)) = 0 THEN

        success := false;

        message := 'Voucher code cannot be empty';

        voucher_id := NULL;

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Check if voucher code already exists

    SELECT id INTO v_existing_voucher_id

    FROM vouchers 

    WHERE UPPER(code) = UPPER(trim(p_code));

    

    IF v_existing_voucher_id IS NOT NULL THEN

        success := false;

        message := 'Voucher code already exists';

        voucher_id := NULL;

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Create new voucher

    BEGIN

        INSERT INTO vouchers (code, label) 

        VALUES (UPPER(trim(p_code)), p_label)

        RETURNING id INTO v_new_voucher_id;

        

        success := true;

        message := 'Voucher created successfully';

        voucher_id := v_new_voucher_id;

        

    EXCEPTION WHEN OTHERS THEN

        success := false;

        message := 'Error creating voucher: ' || SQLERRM;

        voucher_id := NULL;

    END;

    

    RETURN NEXT;

END;

$$;


ALTER FUNCTION public.create_voucher(p_code text, p_label text) OWNER TO postgres;

--
-- Name: get_all_user_accounts(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_all_user_accounts() RETURNS TABLE(id uuid, username text, email text)
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    RETURN QUERY SELECT id, username, email FROM profiles;

END;

$$;


ALTER FUNCTION public.get_all_user_accounts() OWNER TO postgres;

--
-- Name: get_user_statistics(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_user_statistics() RETURNS TABLE(id uuid, credits integer, voucher_code text)
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    RETURN QUERY SELECT id, credits, voucher_code FROM profiles;

END;

$$;


ALTER FUNCTION public.get_user_statistics() OWNER TO postgres;

--
-- Name: get_voucher_stats(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_voucher_stats() RETURNS TABLE(code text, number_of_users integer, total_credits integer)
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    RETURN QUERY

    SELECT

        v.code,

        COALESCE(COUNT(p.id), 0) AS number_of_users,

        COALESCE(SUM(p.credits), 0) AS total_credits

    FROM vouchers v

    LEFT JOIN profiles p ON p.voucher_code = v.code

    GROUP BY v.code;

END;

$$;


ALTER FUNCTION public.get_voucher_stats() OWNER TO postgres;

--
-- Name: grant_temporary_subscription_by_email(text, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.grant_temporary_subscription_by_email(p_email text, p_duration_months integer DEFAULT 1, p_reason text DEFAULT 'Temporary access granted'::text) RETURNS TABLE(success boolean, message text, user_email text, end_date timestamp with time zone)
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_user_id UUID;

    v_user_email TEXT;

    v_end_date TIMESTAMP WITH TIME ZONE;

    v_current_end_date TIMESTAMP WITH TIME ZONE;

BEGIN

    -- Get user info

    SELECT id, email, subscription_end_date INTO v_user_id, v_user_email, v_current_end_date

    FROM profiles

    WHERE email = LOWER(TRIM(p_email));

    

    IF v_user_id IS NULL THEN

        RETURN QUERY SELECT false, 'User not found with email: ' || p_email, p_email, NULL::TIMESTAMP WITH TIME ZONE;

        RETURN;

    END IF;

    

    -- Calculate new end date

    v_end_date := GREATEST(COALESCE(v_current_end_date, NOW()), NOW()) + (p_duration_months || ' months')::INTERVAL;

    

    -- Update user's subscription

    UPDATE profiles

    SET subscription_end_date = v_end_date

    WHERE id = v_user_id;

    

    RETURN QUERY SELECT 

        true, 

        'Subscription granted for ' || p_duration_months || ' months until ' || v_end_date::DATE,

        v_user_email,

        v_end_date;

END;

$$;


ALTER FUNCTION public.grant_temporary_subscription_by_email(p_email text, p_duration_months integer, p_reason text) OWNER TO postgres;

--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO ''
    AS $$
BEGIN
    -- Your existing function logic here
    -- Use fully qualified schema references
    INSERT INTO public.profiles (user_id, email)
    VALUES (NEW.id, NEW.email);
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.handle_new_user() OWNER TO postgres;

--
-- Name: is_current_user_admin(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_current_user_admin() RETURNS boolean
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    RETURN EXISTS (

        SELECT 1 FROM profiles WHERE id = auth.uid() AND is_admin = TRUE

    );

END;

$$;


ALTER FUNCTION public.is_current_user_admin() OWNER TO postgres;

--
-- Name: toggle_voucher_status(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.toggle_voucher_status(p_voucher_id uuid) RETURNS TABLE(success boolean, message text, new_status boolean)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

DECLARE

    v_current_status BOOLEAN;

BEGIN

    -- Get current status

    SELECT is_active INTO v_current_status

    FROM vouchers 

    WHERE id = p_voucher_id;

    

    IF v_current_status IS NULL THEN

        success := false;

        message := 'Voucher not found';

        new_status := NULL;

        RETURN NEXT;

        RETURN;

    END IF;

    

    -- Toggle status

    BEGIN

        UPDATE vouchers 

        SET 

            is_active = NOT v_current_status,

            updated_at = NOW()

        WHERE id = p_voucher_id;

        

        success := true;

        message := 'Voucher status updated successfully';

        new_status := NOT v_current_status;

        

    EXCEPTION WHEN OTHERS THEN

        success := false;

        message := 'Error updating voucher status: ' || SQLERRM;

        new_status := v_current_status;

    END;

    

    RETURN NEXT;

END;

$$;


ALTER FUNCTION public.toggle_voucher_status(p_voucher_id uuid) OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

--
-- Name: update_voucher_stats(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_voucher_stats() RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    -- Your logic for updating voucher stats here

END;

$$;


ALTER FUNCTION public.update_voucher_stats() OWNER TO postgres;

--
-- Name: update_voucher_stats(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_voucher_stats(p_voucher_code text) RETURNS void
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_voucher_id UUID;

    v_user_count INTEGER := 0;

    v_credit_sum INTEGER := 0;

BEGIN

    SELECT id INTO v_voucher_id FROM vouchers WHERE code = p_voucher_code;

    IF v_voucher_id IS NULL THEN

        RAISE NOTICE 'Voucher not found: %', p_voucher_code;

        RETURN;

    END IF;



    SELECT COUNT(*), COALESCE(SUM(credits), 0)

    INTO v_user_count, v_credit_sum

    FROM profiles

    WHERE voucher_code = p_voucher_code;



    RAISE NOTICE 'Updating voucher %: users=% credits=%', p_voucher_code, v_user_count, v_credit_sum;



    UPDATE vouchers

    SET number_of_users = v_user_count,

        total_credits = v_credit_sum

    WHERE id = v_voucher_id;

END;

$$;


ALTER FUNCTION public.update_voucher_stats(p_voucher_code text) OWNER TO postgres;

--
-- Name: update_voucher_stats_trigger(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_voucher_stats_trigger() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    SET search_path = public;

    PERFORM public.update_voucher_stats();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_voucher_stats_trigger() OWNER TO postgres;

--
-- Name: validate_voucher_code(text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_voucher_code(voucher_code_input text) RETURNS TABLE(voucher_id uuid, voucher_code text, voucher_label text, is_valid boolean, message text)
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

    -- Check if voucher exists and is active

    RETURN QUERY

    SELECT 

        v.id,

        v.code,

        v.label,

        v.is_active,

        CASE 

            WHEN v.id IS NULL THEN 'Voucher code not found'

            WHEN NOT v.is_active THEN 'Voucher code is inactive'

            ELSE 'Voucher code is valid'

        END as message

    FROM vouchers v

    WHERE UPPER(v.code) = UPPER(voucher_code_input)

    

    UNION ALL

    

    SELECT 

        NULL::UUID,

        voucher_code_input,

        NULL,

        false,

        'Voucher code not found'

    WHERE NOT EXISTS (

        SELECT 1 FROM vouchers WHERE UPPER(code) = UPPER(voucher_code_input)

    );

END;

$$;


ALTER FUNCTION public.validate_voucher_code(voucher_code_input text) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    email text,
    full_name text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    is_admin boolean DEFAULT false,
    voucher_code text,
    subscription_end_date timestamp with time zone,
    bonus_days integer DEFAULT 0,
    subscription_months integer,
    credits integer DEFAULT 0
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: admin_user_overview; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.admin_user_overview WITH (security_invoker='on') AS
 SELECT p.id,
    p.email,
    p.full_name,
    p.created_at,
    p.subscription_end_date,
    p.voucher_code,
    p.bonus_days,
    p.is_admin,
    p.subscription_months,
        CASE
            WHEN (p.subscription_end_date > now()) THEN 'Active'::text
            WHEN (p.subscription_end_date <= now()) THEN 'Expired'::text
            ELSE 'No Subscription'::text
        END AS subscription_status
   FROM public.profiles p;


ALTER VIEW public.admin_user_overview OWNER TO postgres;

--
-- Name: course_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_sections (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    title_en text NOT NULL,
    title_fr text NOT NULL,
    description_en text,
    description_fr text,
    content_en text,
    content_fr text,
    order_index integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.course_sections OWNER TO postgres;

--
-- Name: courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.courses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    subject_id uuid NOT NULL,
    title text NOT NULL,
    description text,
    question_count integer DEFAULT 0,
    image text,
    category text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    title_en text,
    title_fr text,
    description_en text,
    description_fr text,
    is_free boolean DEFAULT false
);


ALTER TABLE public.courses OWNER TO postgres;

--
-- Name: device_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    device_fingerprint text NOT NULL,
    last_active timestamp with time zone DEFAULT now() NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.device_sessions OWNER TO postgres;

--
-- Name: options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.options (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    text text NOT NULL,
    is_correct boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    text_en text,
    text_fr text
);


ALTER TABLE public.options OWNER TO postgres;

--
-- Name: question_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question_reports (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    user_id uuid NOT NULL,
    reason text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT question_reports_reason_check CHECK ((reason = ANY (ARRAY['mal_posed'::text, 'repetitive'::text, 'incorrect'::text, 'other'::text])))
);


ALTER TABLE public.question_reports OWNER TO postgres;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.questions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    course_id uuid NOT NULL,
    text text NOT NULL,
    explanation text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    text_en text,
    text_fr text,
    explanation_en text,
    explanation_fr text
);


ALTER TABLE public.questions OWNER TO postgres;

--
-- Name: quiz_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_progress (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    current_question integer DEFAULT 0,
    user_answers jsonb DEFAULT '{}'::jsonb,
    score integer DEFAULT 0,
    questions_answered integer DEFAULT 0,
    wrong_answers text[] DEFAULT '{}'::text[],
    is_completed boolean DEFAULT false,
    final_grade integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.quiz_progress OWNER TO postgres;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subjects (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    year_id uuid NOT NULL,
    name text NOT NULL,
    description text,
    order_index integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    name_en text,
    name_fr text,
    description_en text,
    description_fr text
);


ALTER TABLE public.subjects OWNER TO postgres;

--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    duration public.subscription_duration NOT NULL,
    price_tnd integer NOT NULL,
    start_date timestamp with time zone DEFAULT now() NOT NULL,
    end_date timestamp with time zone NOT NULL,
    is_active boolean DEFAULT false,
    payment_status public.payment_status DEFAULT 'pending'::public.payment_status,
    clicktopay_transaction_id text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- Name: user_progress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_progress (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    course_id uuid NOT NULL,
    questions_attempted integer DEFAULT 0,
    questions_correct integer DEFAULT 0,
    last_attempt timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_progress OWNER TO postgres;

--
-- Name: vouchers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vouchers (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    code text NOT NULL,
    label text,
    credits integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now(),
    number_of_users integer DEFAULT 0,
    total_credits integer DEFAULT 0,
    CONSTRAINT vouchers_code_not_empty CHECK ((length(TRIM(BOTH FROM code)) > 0)),
    CONSTRAINT vouchers_credits_non_negative CHECK ((credits >= 0))
);


ALTER TABLE public.vouchers OWNER TO postgres;

--
-- Name: voucher_credits; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.voucher_credits WITH (security_invoker='on') AS
 SELECT v.id AS voucher_id,
    v.code AS voucher_code,
    COALESCE(sum(p.credits), (0)::bigint) AS total_credits
   FROM (public.vouchers v
     LEFT JOIN public.profiles p ON ((p.voucher_code = v.code)))
  GROUP BY v.id, v.code;


ALTER VIEW public.voucher_credits OWNER TO postgres;

--
-- Name: voucher_usages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voucher_usages (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    voucher_id uuid NOT NULL,
    months_paid integer NOT NULL,
    subscription_start_date timestamp with time zone,
    subscription_end_date timestamp with time zone,
    payment_amount numeric(10,2),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT voucher_usages_amount_positive CHECK (((payment_amount IS NULL) OR (payment_amount > (0)::numeric))),
    CONSTRAINT voucher_usages_months_positive CHECK ((months_paid > 0))
);


ALTER TABLE public.voucher_usages OWNER TO postgres;

--
-- Name: years; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.years (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    order_index integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    name_en text,
    name_fr text,
    description_en text,
    description_fr text
);


ALTER TABLE public.years OWNER TO postgres;

--
-- Data for Name: course_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.course_sections (id, course_id, title_en, title_fr, description_en, description_fr, content_en, content_fr, order_index, created_at) FROM stdin;
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.courses (id, subject_id, title, description, question_count, image, category, created_at, title_en, title_fr, description_en, description_fr, is_free) FROM stdin;
5140f03d-26d0-4712-86d1-da58a573cff6	019e54bc-7f28-4441-9119-009748b78743	D1 en		0	\N		2025-05-26 12:19:33.831572+00	D1 en	D1 fr			t
3b2ae475-9560-4fb5-a9a2-3192a3b283ff	f24ec3f1-f8c8-4cb6-9fed-20b16874fb4d	Hypercalcemia		0	\N		2025-07-27 15:49:24.369102+00	Hypercalcemia	Hypercalcemie			f
\.


--
-- Data for Name: device_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: question_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.question_reports (id, question_id, user_id, reason, description, created_at) FROM stdin;
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subjects (id, year_id, name, description, order_index, created_at, name_en, name_fr, description_en, description_fr) FROM stdin;
019e54bc-7f28-4441-9119-009748b78743	6802be07-6e6e-422e-980f-01b9904a3c32	C1 en		1	2025-05-26 12:19:03.052206+00	C1 en	C1 fr		
f24ec3f1-f8c8-4cb6-9fed-20b16874fb4d	54f44474-7943-48e5-96ef-c41568870bc0	Internal Medicine		1	2025-07-27 15:48:49.774734+00	Internal Medicine	Medecine interne		
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_progress; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_progress (id, user_id, course_id, questions_attempted, questions_correct, last_attempt, created_at) FROM stdin;
\.


--
-- Data for Name: voucher_usages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.voucher_usages (id, user_id, voucher_id, months_paid, subscription_start_date, subscription_end_date, payment_amount, created_at) FROM stdin;
\.


--
-- Data for Name: vouchers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: years; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.years (id, name, description, order_index, created_at, name_en, name_fr, description_en, description_fr) FROM stdin;
54f44474-7943-48e5-96ef-c41568870bc0	2nd Cycle		2	2025-07-27 15:48:25.927728+00	2nd Cycle	2├®me cycle		
6802be07-6e6e-422e-980f-01b9904a3c32	1st Cycle		1	2025-05-26 12:18:27.951812+00	1st Cycle	1er cycle		
\.


--
-- Name: course_sections course_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: device_sessions device_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_pkey PRIMARY KEY (id);


--
-- Name: device_sessions device_sessions_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_user_id_key UNIQUE (user_id);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: question_reports question_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_reports
    ADD CONSTRAINT question_reports_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: quiz_progress quiz_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_progress
    ADD CONSTRAINT quiz_progress_pkey PRIMARY KEY (id);


--
-- Name: quiz_progress quiz_progress_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_progress
    ADD CONSTRAINT quiz_progress_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: user_progress user_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_pkey PRIMARY KEY (id);


--
-- Name: user_progress user_progress_user_id_course_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_course_id_key UNIQUE (user_id, course_id);


--
-- Name: voucher_usages voucher_usages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_usages
    ADD CONSTRAINT voucher_usages_pkey PRIMARY KEY (id);


--
-- Name: voucher_usages voucher_usages_user_id_voucher_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_usages
    ADD CONSTRAINT voucher_usages_user_id_voucher_id_key UNIQUE (user_id, voucher_id);


--
-- Name: vouchers vouchers_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_code_key UNIQUE (code);


--
-- Name: vouchers vouchers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vouchers
    ADD CONSTRAINT vouchers_pkey PRIMARY KEY (id);


--
-- Name: years years_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.years
    ADD CONSTRAINT years_pkey PRIMARY KEY (id);


--
-- Name: idx_profiles_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_created_at ON public.profiles USING btree (created_at);


--
-- Name: idx_profiles_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_email ON public.profiles USING btree (email);


--
-- Name: idx_profiles_is_admin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_is_admin ON public.profiles USING btree (is_admin);


--
-- Name: idx_profiles_subscription_end_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_subscription_end_date ON public.profiles USING btree (subscription_end_date);


--
-- Name: idx_profiles_voucher_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_profiles_voucher_code ON public.profiles USING btree (voucher_code);


--
-- Name: idx_voucher_usages_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voucher_usages_user ON public.voucher_usages USING btree (user_id);


--
-- Name: idx_voucher_usages_voucher; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_voucher_usages_voucher ON public.voucher_usages USING btree (voucher_id);


--
-- Name: idx_vouchers_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vouchers_active ON public.vouchers USING btree (is_active);


--
-- Name: idx_vouchers_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vouchers_code ON public.vouchers USING btree (code);


--
-- Name: subscriptions trigger_add_credits_after_payment; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_add_credits_after_payment AFTER INSERT ON public.subscriptions FOR EACH ROW EXECUTE FUNCTION public.add_credits_after_payment();


--
-- Name: profiles trigger_add_credits_on_subscription; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_add_credits_on_subscription AFTER INSERT OR UPDATE OF subscription_end_date, voucher_code ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.add_credits_on_subscription();


--
-- Name: profiles trigger_update_voucher_stats; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_voucher_stats AFTER UPDATE OF credits ON public.profiles FOR EACH ROW EXECUTE FUNCTION public.update_voucher_stats_trigger();


--
-- Name: vouchers update_vouchers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_vouchers_updated_at BEFORE UPDATE ON public.vouchers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: course_sections course_sections_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_sections
    ADD CONSTRAINT course_sections_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: courses courses_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: device_sessions device_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_sessions
    ADD CONSTRAINT device_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: options options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: question_reports question_reports_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_reports
    ADD CONSTRAINT question_reports_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: question_reports question_reports_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question_reports
    ADD CONSTRAINT question_reports_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: questions questions_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: quiz_progress quiz_progress_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_progress
    ADD CONSTRAINT quiz_progress_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: quiz_progress quiz_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_progress
    ADD CONSTRAINT quiz_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id);


--
-- Name: subjects subjects_year_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_year_id_fkey FOREIGN KEY (year_id) REFERENCES public.years(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: user_progress user_progress_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id) ON DELETE CASCADE;


--
-- Name: user_progress user_progress_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_progress
    ADD CONSTRAINT user_progress_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: voucher_usages voucher_usages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_usages
    ADD CONSTRAINT voucher_usages_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: voucher_usages voucher_usages_voucher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voucher_usages
    ADD CONSTRAINT voucher_usages_voucher_id_fkey FOREIGN KEY (voucher_id) REFERENCES public.vouchers(id) ON DELETE CASCADE;


--
-- Name: course_sections Admins can manage course sections; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage course sections" ON public.course_sections TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: courses Admins can manage courses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage courses" ON public.courses TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: options Admins can manage options; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage options" ON public.options TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: questions Admins can manage questions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage questions" ON public.questions TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: subjects Admins can manage subjects; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage subjects" ON public.subjects TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: vouchers Admins can manage vouchers; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage vouchers" ON public.vouchers USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: years Admins can manage years; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can manage years" ON public.years TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: voucher_usages Admins can see all voucher usages; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can see all voucher usages" ON public.voucher_usages USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: question_reports Admins can view all reports; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can view all reports" ON public.question_reports FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.profiles
  WHERE ((profiles.id = auth.uid()) AND (profiles.is_admin = true)))));


--
-- Name: profiles Allow all authenticated users to read profiles; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all authenticated users to read profiles" ON public.profiles FOR SELECT TO authenticated USING (true);


--
-- Name: profiles Allow users to insert own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow users to insert own profile" ON public.profiles FOR INSERT TO authenticated WITH CHECK ((auth.uid() = id));


--
-- Name: profiles Allow users to update own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow users to update own profile" ON public.profiles FOR UPDATE TO authenticated USING ((auth.uid() = id));


--
-- Name: course_sections Anyone can view course sections; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view course sections" ON public.course_sections FOR SELECT TO authenticated USING (true);


--
-- Name: courses Anyone can view courses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view courses" ON public.courses FOR SELECT TO authenticated USING (true);


--
-- Name: options Anyone can view options; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view options" ON public.options FOR SELECT TO authenticated USING (true);


--
-- Name: questions Anyone can view questions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view questions" ON public.questions FOR SELECT TO authenticated USING (true);


--
-- Name: subjects Anyone can view subjects; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view subjects" ON public.subjects FOR SELECT TO authenticated USING (true);


--
-- Name: years Anyone can view years; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Anyone can view years" ON public.years FOR SELECT TO authenticated USING (true);


--
-- Name: voucher_usages Users can create own voucher usage; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can create own voucher usage" ON public.voucher_usages FOR INSERT WITH CHECK ((user_id = auth.uid()));


--
-- Name: question_reports Users can create reports; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can create reports" ON public.question_reports FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: quiz_progress Users can create their own quiz progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can create their own quiz progress" ON public.quiz_progress FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: quiz_progress Users can delete their own quiz progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can delete their own quiz progress" ON public.quiz_progress FOR DELETE USING ((auth.uid() = user_id));


--
-- Name: subscriptions Users can insert own subscriptions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can insert own subscriptions" ON public.subscriptions FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: user_progress Users can manage own progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can manage own progress" ON public.user_progress USING ((auth.uid() = user_id));


--
-- Name: device_sessions Users can manage own sessions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can manage own sessions" ON public.device_sessions USING ((auth.uid() = user_id));


--
-- Name: profiles Users can manage their own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can manage their own profile" ON public.profiles USING ((auth.uid() = id)) WITH CHECK ((auth.uid() = id));


--
-- Name: vouchers Users can read active vouchers; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can read active vouchers" ON public.vouchers FOR SELECT USING ((is_active = true));


--
-- Name: voucher_usages Users can see own voucher usages; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can see own voucher usages" ON public.voucher_usages FOR SELECT USING ((user_id = auth.uid()));


--
-- Name: profiles Users can update their own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can update their own profile" ON public.profiles FOR UPDATE TO authenticated USING ((auth.uid() = id)) WITH CHECK ((auth.uid() = id));


--
-- Name: quiz_progress Users can update their own quiz progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can update their own quiz progress" ON public.quiz_progress FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: user_progress Users can view own progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view own progress" ON public.user_progress FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: question_reports Users can view own reports; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view own reports" ON public.question_reports FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: device_sessions Users can view own sessions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view own sessions" ON public.device_sessions FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: subscriptions Users can view own subscriptions; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view own subscriptions" ON public.subscriptions FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: quiz_progress Users can view their own quiz progress; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view their own quiz progress" ON public.quiz_progress FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: course_sections; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.course_sections ENABLE ROW LEVEL SECURITY;

--
-- Name: courses; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.courses ENABLE ROW LEVEL SECURITY;

--
-- Name: device_sessions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.device_sessions ENABLE ROW LEVEL SECURITY;

--
-- Name: options; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.options ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: question_reports; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.question_reports ENABLE ROW LEVEL SECURITY;

--
-- Name: questions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.questions ENABLE ROW LEVEL SECURITY;

--
-- Name: quiz_progress; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.quiz_progress ENABLE ROW LEVEL SECURITY;

--
-- Name: subjects; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.subjects ENABLE ROW LEVEL SECURITY;

--
-- Name: subscriptions; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.subscriptions ENABLE ROW LEVEL SECURITY;

--
-- Name: user_progress; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.user_progress ENABLE ROW LEVEL SECURITY;

--
-- Name: voucher_usages; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.voucher_usages ENABLE ROW LEVEL SECURITY;

--
-- Name: vouchers; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.vouchers ENABLE ROW LEVEL SECURITY;

--
-- Name: years; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.years ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: FUNCTION add_credits_after_payment(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_after_payment() TO anon;
GRANT ALL ON FUNCTION public.add_credits_after_payment() TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_after_payment() TO service_role;


--
-- Name: FUNCTION add_credits_after_payment(user_id uuid, credits_to_add integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_after_payment(user_id uuid, credits_to_add integer) TO anon;
GRANT ALL ON FUNCTION public.add_credits_after_payment(user_id uuid, credits_to_add integer) TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_after_payment(user_id uuid, credits_to_add integer) TO service_role;


--
-- Name: FUNCTION add_credits_for_subscription(p_user_id uuid, p_months integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_for_subscription(p_user_id uuid, p_months integer) TO anon;
GRANT ALL ON FUNCTION public.add_credits_for_subscription(p_user_id uuid, p_months integer) TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_for_subscription(p_user_id uuid, p_months integer) TO service_role;


--
-- Name: FUNCTION add_credits_on_payment(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_on_payment() TO anon;
GRANT ALL ON FUNCTION public.add_credits_on_payment() TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_on_payment() TO service_role;


--
-- Name: FUNCTION add_credits_on_payment(user_id uuid, credits_to_add integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_on_payment(user_id uuid, credits_to_add integer) TO anon;
GRANT ALL ON FUNCTION public.add_credits_on_payment(user_id uuid, credits_to_add integer) TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_on_payment(user_id uuid, credits_to_add integer) TO service_role;


--
-- Name: FUNCTION add_credits_on_subscription(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_on_subscription() TO anon;
GRANT ALL ON FUNCTION public.add_credits_on_subscription() TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_on_subscription() TO service_role;


--
-- Name: FUNCTION add_credits_on_subscription(user_id uuid, credits_to_add integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_on_subscription(user_id uuid, credits_to_add integer) TO anon;
GRANT ALL ON FUNCTION public.add_credits_on_subscription(user_id uuid, credits_to_add integer) TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_on_subscription(user_id uuid, credits_to_add integer) TO service_role;


--
-- Name: FUNCTION add_credits_to_profile(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_to_profile() TO anon;
GRANT ALL ON FUNCTION public.add_credits_to_profile() TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_to_profile() TO service_role;


--
-- Name: FUNCTION add_credits_to_profile(user_id uuid, credits_to_add integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.add_credits_to_profile(user_id uuid, credits_to_add integer) TO anon;
GRANT ALL ON FUNCTION public.add_credits_to_profile(user_id uuid, credits_to_add integer) TO authenticated;
GRANT ALL ON FUNCTION public.add_credits_to_profile(user_id uuid, credits_to_add integer) TO service_role;


--
-- Name: FUNCTION admin_remove_user_subscription(user_id uuid); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.admin_remove_user_subscription(user_id uuid) TO anon;
GRANT ALL ON FUNCTION public.admin_remove_user_subscription(user_id uuid) TO authenticated;
GRANT ALL ON FUNCTION public.admin_remove_user_subscription(user_id uuid) TO service_role;


--
-- Name: FUNCTION admin_toggle_admin_status(user_id uuid, make_admin boolean); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.admin_toggle_admin_status(user_id uuid, make_admin boolean) TO anon;
GRANT ALL ON FUNCTION public.admin_toggle_admin_status(user_id uuid, make_admin boolean) TO authenticated;
GRANT ALL ON FUNCTION public.admin_toggle_admin_status(user_id uuid, make_admin boolean) TO service_role;


--
-- Name: FUNCTION admin_update_user_subscription(target_user_id uuid, months integer); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.admin_update_user_subscription(target_user_id uuid, months integer) TO anon;
GRANT ALL ON FUNCTION public.admin_update_user_subscription(target_user_id uuid, months integer) TO authenticated;
GRANT ALL ON FUNCTION public.admin_update_user_subscription(target_user_id uuid, months integer) TO service_role;


--
-- Name: FUNCTION admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone) TO anon;
GRANT ALL ON FUNCTION public.admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone) TO authenticated;
GRANT ALL ON FUNCTION public.admin_update_user_subscription(user_id uuid, new_expiry timestamp without time zone) TO service_role;


--
-- Name: FUNCTION apply_voucher_to_subscription(user_id uuid, voucher_code text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(user_id uuid, voucher_code text) TO anon;
GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(user_id uuid, voucher_code text) TO authenticated;
GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(user_id uuid, voucher_code text) TO service_role;


--
-- Name: FUNCTION apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric) TO anon;
GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric) TO authenticated;
GRANT ALL ON FUNCTION public.apply_voucher_to_subscription(p_user_id uuid, p_voucher_code text, p_months_paid integer, p_payment_amount numeric) TO service_role;


--
-- Name: FUNCTION create_new_profile(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_new_profile() TO anon;
GRANT ALL ON FUNCTION public.create_new_profile() TO authenticated;
GRANT ALL ON FUNCTION public.create_new_profile() TO service_role;


--
-- Name: FUNCTION create_voucher(p_code text, p_label text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.create_voucher(p_code text, p_label text) TO anon;
GRANT ALL ON FUNCTION public.create_voucher(p_code text, p_label text) TO authenticated;
GRANT ALL ON FUNCTION public.create_voucher(p_code text, p_label text) TO service_role;


--
-- Name: FUNCTION get_all_user_accounts(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.get_all_user_accounts() TO anon;
GRANT ALL ON FUNCTION public.get_all_user_accounts() TO authenticated;
GRANT ALL ON FUNCTION public.get_all_user_accounts() TO service_role;


--
-- Name: FUNCTION get_user_statistics(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.get_user_statistics() TO anon;
GRANT ALL ON FUNCTION public.get_user_statistics() TO authenticated;
GRANT ALL ON FUNCTION public.get_user_statistics() TO service_role;


--
-- Name: FUNCTION get_voucher_stats(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.get_voucher_stats() TO anon;
GRANT ALL ON FUNCTION public.get_voucher_stats() TO authenticated;
GRANT ALL ON FUNCTION public.get_voucher_stats() TO service_role;


--
-- Name: FUNCTION grant_temporary_subscription_by_email(p_email text, p_duration_months integer, p_reason text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.grant_temporary_subscription_by_email(p_email text, p_duration_months integer, p_reason text) TO anon;
GRANT ALL ON FUNCTION public.grant_temporary_subscription_by_email(p_email text, p_duration_months integer, p_reason text) TO authenticated;
GRANT ALL ON FUNCTION public.grant_temporary_subscription_by_email(p_email text, p_duration_months integer, p_reason text) TO service_role;


--
-- Name: FUNCTION handle_new_user(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.handle_new_user() TO anon;
GRANT ALL ON FUNCTION public.handle_new_user() TO authenticated;
GRANT ALL ON FUNCTION public.handle_new_user() TO service_role;


--
-- Name: FUNCTION is_current_user_admin(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.is_current_user_admin() TO anon;
GRANT ALL ON FUNCTION public.is_current_user_admin() TO authenticated;
GRANT ALL ON FUNCTION public.is_current_user_admin() TO service_role;


--
-- Name: FUNCTION toggle_voucher_status(p_voucher_id uuid); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.toggle_voucher_status(p_voucher_id uuid) TO anon;
GRANT ALL ON FUNCTION public.toggle_voucher_status(p_voucher_id uuid) TO authenticated;
GRANT ALL ON FUNCTION public.toggle_voucher_status(p_voucher_id uuid) TO service_role;


--
-- Name: FUNCTION update_updated_at_column(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_updated_at_column() TO anon;
GRANT ALL ON FUNCTION public.update_updated_at_column() TO authenticated;
GRANT ALL ON FUNCTION public.update_updated_at_column() TO service_role;


--
-- Name: FUNCTION update_voucher_stats(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_voucher_stats() TO anon;
GRANT ALL ON FUNCTION public.update_voucher_stats() TO authenticated;
GRANT ALL ON FUNCTION public.update_voucher_stats() TO service_role;


--
-- Name: FUNCTION update_voucher_stats(p_voucher_code text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_voucher_stats(p_voucher_code text) TO anon;
GRANT ALL ON FUNCTION public.update_voucher_stats(p_voucher_code text) TO authenticated;
GRANT ALL ON FUNCTION public.update_voucher_stats(p_voucher_code text) TO service_role;


--
-- Name: FUNCTION update_voucher_stats_trigger(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_voucher_stats_trigger() TO anon;
GRANT ALL ON FUNCTION public.update_voucher_stats_trigger() TO authenticated;
GRANT ALL ON FUNCTION public.update_voucher_stats_trigger() TO service_role;


--
-- Name: FUNCTION validate_voucher_code(voucher_code_input text); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.validate_voucher_code(voucher_code_input text) TO anon;
GRANT ALL ON FUNCTION public.validate_voucher_code(voucher_code_input text) TO authenticated;
GRANT ALL ON FUNCTION public.validate_voucher_code(voucher_code_input text) TO service_role;


--
-- Name: TABLE profiles; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.profiles TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.profiles TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.profiles TO service_role;


--
-- Name: TABLE admin_user_overview; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_user_overview TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_user_overview TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.admin_user_overview TO service_role;


--
-- Name: TABLE course_sections; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.course_sections TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.course_sections TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.course_sections TO service_role;


--
-- Name: TABLE courses; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.courses TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.courses TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.courses TO service_role;


--
-- Name: TABLE device_sessions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.device_sessions TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.device_sessions TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.device_sessions TO service_role;


--
-- Name: TABLE options; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.options TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.options TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.options TO service_role;


--
-- Name: TABLE question_reports; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.question_reports TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.question_reports TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.question_reports TO service_role;


--
-- Name: TABLE questions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.questions TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.questions TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.questions TO service_role;


--
-- Name: TABLE quiz_progress; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.quiz_progress TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.quiz_progress TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.quiz_progress TO service_role;


--
-- Name: TABLE subjects; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subjects TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subjects TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subjects TO service_role;


--
-- Name: TABLE subscriptions; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subscriptions TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subscriptions TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.subscriptions TO service_role;


--
-- Name: TABLE user_progress; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.user_progress TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.user_progress TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.user_progress TO service_role;


--
-- Name: TABLE vouchers; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.vouchers TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.vouchers TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.vouchers TO service_role;


--
-- Name: TABLE voucher_credits; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_credits TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_credits TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_credits TO service_role;


--
-- Name: TABLE voucher_usages; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_usages TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_usages TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.voucher_usages TO service_role;


--
-- Name: TABLE years; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.years TO anon;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.years TO authenticated;
GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLE public.years TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT SELECT,INSERT,REFERENCES,DELETE,TRIGGER,TRUNCATE,UPDATE ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

